@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
/* or */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

#certif::-webkit-scrollbar {
  display: none;
}
